@charset "utf-8";
@font-face {
  font-family: "NanumSquareRoundR";
  font-weight: 300;
  src: url('../styles/fonts/NanumSquareRoundR.woff2') format('woff2');
}
@font-face {
  font-family: "NanumSquareRoundEB";
  font-weight: 500;
  src: url('../styles/fonts/NanumSquareRoundEB.woff2') format('woff2');
}

body {
  margin: 0;
}
